openapi: 3.0.0
info:
  title: Public API
  description: |-
    <html><head></head><body><p>Welcome to the Leat API documentation.</p>
    <p>The Postman Docs are mainly for testing purposes. Please refer to our</p>
    <p><a href="https://docs.leat.com">Leat API Documentation</a></p>
    <p>for guides, explanations and any other questions you may have.</p>
    <p>Good luck!</p>
    <hr>
    </body></html>
  version: 1.0.0
servers:
  - url: https://api.leat.com
    description: Production
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    noauthAuth:
      type: http
      scheme: noauth
tags:
  - name: OAuth v3
    description: >
      <p>Use the OAuth Client Credentials Grant to allow for server-to-server
      communication. This involves handling requesting access tokens and
      refreshing your own token.</p>

      <p>Please check the introduction for more information about OAuth
      authorization.</p>
  - name: OAuth v3 > Clients
    description: ""
  - name: OAuth v3 > Clients > Automations
    description: ""
  - name: OAuth v3 > Clients > Brandkit
    description: ""
  - name: OAuth v3 > Clients > Collectable Rewards
    description: ""
  - name: OAuth v3 > Clients > Contact Attributes
    description: ""
  - name: OAuth v3 > Clients > Contact Identifiers
    description: ""
  - name: OAuth v3 > Clients > Contact Subscriptions
    description: ""
  - name: OAuth v3 > Clients > Contact Verification
    description: ""
  - name: OAuth v3 > Clients > Contact Session Tokens
    description: ""
  - name: OAuth v3 > Clients > Contacts
    description: ""
  - name: OAuth v3 > Clients > Contacts Portal
    description: ""
  - name: OAuth v3 > Clients > Credit Receptions
    description: ""
  - name: OAuth v3 > Clients > Custom Attributes
    description: ""
  - name: OAuth v3 > Clients > Orders
    description: ""
  - name: OAuth v3 > Clients > Order Returns
    description: ""
  - name: OAuth v3 > Clients > Products
    description: ""
  - name: OAuth v3 > Clients > Product Categories
    description: ""
  - name: OAuth v3 > Clients > Forms
    description: ""
  - name: OAuth v3 > Clients > Giftcard Programs
    description: ""
  - name: OAuth v3 > Clients > Giftcard Transactions
    description: ""
  - name: OAuth v3 > Clients > Giftcards
    description: ""
  - name: OAuth v3 > Clients > Loyalty Program
    description: ""
  - name: OAuth v3 > Clients > Loyalty Tokens
    description: ""
  - name: OAuth v3 > Clients > Loyalty Transaction Attributes
    description: ""
  - name: OAuth v3 > Clients > Loyalty Transactions
    description: ""
  - name: OAuth v3 > Clients > Portal Sessions
    description: ""
  - name: OAuth v3 > Clients > Prepaid Transactions
    description: ""
  - name: OAuth v3 > Clients > Promotion Attributes
    description: ""
  - name: OAuth v3 > Clients > Promotions
    description: ""
  - name: OAuth v3 > Clients > Referrals
    description: ""
  - name: OAuth v3 > Clients > Reward Attributes
    description: ""
  - name: OAuth v3 > Clients > Reward Receptions
    description: ""
  - name: OAuth v3 > Clients > Rewards
    description: ""
  - name: OAuth v3 > Clients > Shops
    description: ""
  - name: OAuth v3 > Clients > Subscription Types
    description: ""
  - name: OAuth v3 > Clients > Tiers
    description: ""
  - name: OAuth v3 > Clients > Perks
    description: ""
  - name: OAuth v3 > Clients > Units
    description: ""
  - name: OAuth v3 > Clients > Vouchers
    description: ""
  - name: OAuth v3 > Clients > Webhook Subscriptions
    description: ""
  - name: OAuth v3 > Clients > Visits
    description: ""
  - name: OAuth v3 > Clients > Bookings
    description: ""
  - name: OAuth v3 > Clients > Orders > Products
    description: ""
  - name: Register v3
    description: >
      <p>Use the Register API key collected from the <a
      href="https://business.piggy.eu">Business Dashboard</a>.</p>
  - name: Register v3 > Contacts
    description: ""
  - name: Register v3 > Contact Identifiers
    description: ""
  - name: Register v3 > Loyalty
    description: ""
  - name: Register v3 > Loyalty > Rewards
    description: ""
  - name: Register v3 > Loyalty > Reward Receptions
    description: ""
  - name: Register v3 > Loyalty > Reward Attributes
    description: ""
  - name: Register v3 > Loyalty > Credit Receptions
    description: ""
  - name: Register v3 > Loyalty > POS Transactions
    description: ""
  - name: Register v3 > Loyalty > Program Settings
    description: ""
  - name: Register v3 > Loyalty > Loyalty Transaction Attributes
    description: ""
  - name: Register v3 > Giftcards
    description: ""
  - name: Register v3 > Prepaid Transactions
    description: ""
  - name: Register v3 > Portal Sessions
    description: ""
  - name: Register v3 > Subscriptions
    description: ""
  - name: Register v3 > Contact Attributes
    description: ""
  - name: Register v3 > Loyalty Token
    description: ""
  - name: Register v3 > Vouchers
    description: ""
  - name: Register v3 > Vouchers > Vouchers
    description: ""
  - name: Register v3 > Vouchers > Promotion Attributes
    description: ""
  - name: Register v3 > Orders
    description: ""
  - name: Partners
    description: ""
paths:
  /oauth/clients/automations:
    get:
      tags:
        - OAuth v3 > Clients > Automations
      summary: List Automations
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: 127.0.0.1:8001
            Date:
              schema:
                type: string
                example: Wed, 08 Nov 2023 13:52:17 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/7.4.33
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: "5000"
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: "4999"
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: Authorization
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  - uuid: a2a19afd-200a-49c4-b352-e71b6f4a5048
                    name: Empty automation
                    status: inactive
                    event: contact_updated
                    created_at: 2023-05-09T11:52:26+00:00
                    updated_at: 2023-05-09T11:52:26+00:00
                  - uuid: 5f4be157-2be8-419e-896d-199bedb634ef
                    name: Empty automation
                    status: inactive
                    event: digital_reward_reception_created
                    created_at: 2023-05-09T12:02:23+00:00
                    updated_at: 2023-05-09T12:02:23+00:00
                  - uuid: fbc2b528-795c-43be-9695-397d2b51d5f5
                    name: Empty automation
                    status: inactive
                    event: contact_updated
                    created_at: 2023-05-09T12:55:11+00:00
                    updated_at: 2023-05-09T12:55:11+00:00
                  - uuid: 021e5bd0-5f22-4931-9066-e85527288644
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-09T13:20:31+00:00
                    updated_at: 2023-05-09T13:20:31+00:00
                  - uuid: ce251eed-f502-41da-8253-9d13267da380
                    name: Empty automation
                    status: inactive
                    event: form_submission_completed
                    created_at: 2023-05-09T13:22:46+00:00
                    updated_at: 2023-05-09T13:22:46+00:00
                  - uuid: d4ce3434-2d2a-4c7b-8b8f-c52c7cd8868a
                    name: Empty automation
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-09T13:58:22+00:00
                    updated_at: 2023-05-09T13:58:22+00:00
                  - uuid: d678dc63-1d0e-4601-be92-b6459ee36aee
                    name: Empty automation
                    status: inactive
                    event: contact_updated
                    created_at: 2023-05-09T15:37:11+00:00
                    updated_at: 2023-05-09T15:37:11+00:00
                  - uuid: f0f36350-2882-4b52-9d01-cae50b77c7e6
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-09T15:39:01+00:00
                    updated_at: 2023-05-09T15:39:01+00:00
                  - uuid: 3217f479-b262-4054-b9c9-c8eaa21e3684
                    name: Empty automation
                    status: inactive
                    event: form_submission_completed
                    created_at: 2023-05-09T15:40:39+00:00
                    updated_at: 2023-05-09T15:40:39+00:00
                  - uuid: 26b1d1e5-c328-44df-8b12-f86c3a60a933
                    name: Reward unlocked
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-10T08:10:49+00:00
                    updated_at: 2023-05-10T08:10:49+00:00
                  - uuid: 5dfc0f73-2b5c-4bed-84cd-676192752b83
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-10T11:48:50+00:00
                    updated_at: 2023-05-10T11:48:50+00:00
                  - uuid: e5e5dd7d-0f24-4953-b73f-25aef7063dc2
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-10T11:49:33+00:00
                    updated_at: 2023-05-10T11:49:33+00:00
                  - uuid: 9ad9d3ad-5e31-45d2-ba5b-096f5addf9a3
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-10T11:50:33+00:00
                    updated_at: 2023-05-10T11:50:33+00:00
                  - uuid: 97ef7c00-b24a-41c9-9ed4-3061fefbc225
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-10T11:50:59+00:00
                    updated_at: 2023-05-10T11:50:59+00:00
                  - uuid: 369aec9e-bd0d-4139-8b5d-0dfe1a5c3373
                    name: Start a retention campaign
                    status: inactive
                    event: contact_updated
                    created_at: 2023-05-10T11:52:41+00:00
                    updated_at: 2023-05-10T11:52:42+00:00
                  - uuid: 09408b89-e770-4083-992b-2fdae75cf8af
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-10T12:08:42+00:00
                    updated_at: 2023-05-10T12:08:42+00:00
                  - uuid: 7b74fe4a-1332-4a62-9177-98783c231a68
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-10T12:18:41+00:00
                    updated_at: 2023-05-10T12:18:41+00:00
                  - uuid: 4323485b-9ea1-47c5-9e97-2f43d3680a63
                    name: Thank loyal contacts
                    status: has_errors
                    event: credit_reception_created
                    created_at: 2023-05-10T12:44:26+00:00
                    updated_at: 2023-09-12T09:52:37+00:00
                  - uuid: 52f2a81d-d345-4a8b-851b-f2432c52a2de
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-10T12:52:43+00:00
                    updated_at: 2023-05-10T12:52:43+00:00
                  - uuid: 22f6911c-1526-4732-893b-f18581b47cf9
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-10T13:01:23+00:00
                    updated_at: 2023-05-10T13:01:23+00:00
                  - uuid: cffac05f-f05d-4a4d-a0d5-7ec6c3ff8fe3
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-10T13:04:06+00:00
                    updated_at: 2023-05-10T13:04:06+00:00
                  - uuid: 8dd3419a-cef5-47c9-a58d-1d8ce5140c29
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-10T13:04:42+00:00
                    updated_at: 2023-05-10T13:04:42+00:00
                  - uuid: 91011aeb-1b8b-4b6f-9250-b8c52d85ef4d
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-10T13:05:11+00:00
                    updated_at: 2023-05-10T13:05:11+00:00
                  - uuid: a93ad547-452f-4932-a644-08df07fed55c
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-10T13:22:20+00:00
                    updated_at: 2023-05-10T13:22:20+00:00
                  - uuid: 93dacf0c-4ac2-4bfb-a657-a77f4713fb0a
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-10T13:27:51+00:00
                    updated_at: 2023-05-10T13:27:51+00:00
                  - uuid: 167b9240-f999-4701-8d57-5f2ef68763c9
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-10T13:28:28+00:00
                    updated_at: 2023-05-10T13:28:28+00:00
                  - uuid: 9ff9cf72-a92b-49e1-94ed-d3f7d7bec71f
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-10T13:29:51+00:00
                    updated_at: 2023-05-10T13:29:51+00:00
                  - uuid: 1f15779e-923a-4a3d-9ab3-40885ee01ca8
                    name: Start a retention campaign
                    status: inactive
                    event: contact_updated
                    created_at: 2023-05-10T13:30:32+00:00
                    updated_at: 2023-05-10T13:30:33+00:00
                  - uuid: 5f306c31-07cf-40c1-82e7-d225b07466c3
                    name: Empty automation
                    status: inactive
                    event: physical_reward_reception_created
                    created_at: 2023-05-10T13:35:48+00:00
                    updated_at: 2023-05-10T13:35:48+00:00
                  - uuid: c3e06d55-19fb-45b0-8c48-1321466a2e11
                    name: Empty automation
                    status: inactive
                    event: physical_reward_reception_created
                    created_at: 2023-05-10T13:36:19+00:00
                    updated_at: 2023-05-10T13:36:19+00:00
                  - uuid: 80f037b9-f601-43bc-811c-045489c9b254
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-10T14:15:20+00:00
                    updated_at: 2023-05-10T14:15:20+00:00
                  - uuid: e327a6f8-3aa3-4b63-95e2-48dadc97517d
                    name: Reward unlocked
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-11T07:38:39+00:00
                    updated_at: 2023-05-11T07:38:39+00:00
                  - uuid: a48b8a79-482d-414f-98a4-f871f3368131
                    name: Reward unlocked
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-11T08:38:57+00:00
                    updated_at: 2023-05-11T08:38:57+00:00
                  - uuid: e8b7c827-a98b-4654-bda1-c541bc409af8
                    name: Empty automation
                    status: inactive
                    event: form_submission_completed
                    created_at: 2023-05-11T13:02:27+00:00
                    updated_at: 2023-05-11T13:02:27+00:00
                  - uuid: 6a29ec78-e33f-4c38-9e45-e8217fc8f5a0
                    name: Reward unlocked
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-11T13:27:51+00:00
                    updated_at: 2023-05-11T13:27:51+00:00
                  - uuid: 06c557e3-0ca0-41ab-8ded-8a1b1b8bbbf9
                    name: Reward unlocked
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-11T13:28:06+00:00
                    updated_at: 2023-05-11T13:28:06+00:00
                  - uuid: 977df7bb-9308-4e92-bee6-774be534459c
                    name: Reward unlocked
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-11T13:28:37+00:00
                    updated_at: 2023-05-11T13:28:37+00:00
                  - uuid: 84666ccb-a845-4e70-b821-c24a49646663
                    name: Reward unlocked
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-11T13:29:00+00:00
                    updated_at: 2023-05-11T13:29:00+00:00
                  - uuid: 122b4469-e274-42c3-8629-1fdebf08dfa9
                    name: Reward unlocked
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-11T13:31:47+00:00
                    updated_at: 2023-05-11T13:31:47+00:00
                  - uuid: 4a4a9b2b-b874-4f78-88ed-57e3a87fe371
                    name: Reward unlocked
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-11T13:33:09+00:00
                    updated_at: 2023-05-11T13:33:09+00:00
                  - uuid: 0423fe5e-c930-4bd1-9eb7-045d76d824f2
                    name: Reward unlocked
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-11T13:38:32+00:00
                    updated_at: 2023-05-11T13:38:32+00:00
                  - uuid: 7f266477-86e6-4a37-b5e6-588dcf6ca751
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-11T13:55:25+00:00
                    updated_at: 2023-05-11T13:55:25+00:00
                  - uuid: f17eea0c-45f2-45ef-9459-9d3dbe867b7f
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-11T13:55:47+00:00
                    updated_at: 2023-05-11T13:55:47+00:00
                  - uuid: 0666f94a-7f42-4f46-a622-fe573f2a8194
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-11T13:56:13+00:00
                    updated_at: 2023-05-11T13:56:13+00:00
                  - uuid: 79dda4b2-7d6a-4e93-9ed9-9a05de5c6e38
                    name: Export data with a webhook
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-11T14:11:14+00:00
                    updated_at: 2023-05-11T14:11:14+00:00
                  - uuid: 4412d631-5288-49ed-998f-5900fccaac20
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-11T14:17:23+00:00
                    updated_at: 2023-05-11T14:17:23+00:00
                  - uuid: 014ac306-2e36-412b-96b7-da352dab6cda
                    name: Celebrate birthdays
                    status: inactive
                    event: contact_updated
                    created_at: 2023-05-11T14:17:44+00:00
                    updated_at: 2023-05-11T14:17:44+00:00
                  - uuid: 183e01ff-422e-4615-80c7-98d0b5f8b542
                    name: Reward unlocked
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-11T14:20:57+00:00
                    updated_at: 2023-05-11T14:20:57+00:00
                  - uuid: 715d1d7a-795a-406b-af61-8fabbe6a4c90
                    name: Celebrate birthdays
                    status: inactive
                    event: contact_updated
                    created_at: 2023-05-11T14:21:41+00:00
                    updated_at: 2023-05-11T14:21:41+00:00
                  - uuid: 82ff6b76-7c4c-4dc6-9939-f54ccb15e4f2
                    name: Empty automation
                    status: inactive
                    event: form_submission_completed
                    created_at: 2023-05-11T14:36:22+00:00
                    updated_at: 2023-05-11T14:36:22+00:00
                  - uuid: df8308cc-c392-4a57-a75b-2504f611831d
                    name: Reward unlocked
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-12T09:25:43+00:00
                    updated_at: 2023-05-12T09:25:43+00:00
                  - uuid: 7e445e3d-0e78-48a9-8084-0ee9c25a2f46
                    name: Export data with a webhook
                    status: active
                    event: credit_reception_created
                    created_at: 2023-05-12T10:11:09+00:00
                    updated_at: 2023-05-12T10:11:33+00:00
                  - uuid: 66a4183e-309c-41c0-a94f-5fccd0bb87e9
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-12T12:52:48+00:00
                    updated_at: 2023-05-12T12:52:48+00:00
                  - uuid: a0174506-345b-4907-80f6-5c5e3d17c235
                    name: Empty automation
                    status: inactive
                    event: voucher_redeemed
                    created_at: 2023-05-12T12:53:05+00:00
                    updated_at: 2023-05-12T12:53:05+00:00
                  - uuid: 099e061e-fce8-4201-9e6d-e3a6d99b08bc
                    name: Start a retention campaign
                    status: inactive
                    event: contact_updated
                    created_at: 2023-05-12T13:54:51+00:00
                    updated_at: 2023-05-12T13:54:51+00:00
                  - uuid: 169ed434-1db8-4846-b0e3-28db68edaff0
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-12T13:58:35+00:00
                    updated_at: 2023-05-12T13:58:35+00:00
                  - uuid: bb4e6e25-0b77-4831-95a8-599b835b3cd0
                    name: Reward unlocked
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-05-12T13:59:54+00:00
                    updated_at: 2023-05-12T13:59:54+00:00
                  - uuid: b9840761-0626-46eb-80ac-1de99f3c9d65
                    name: Start a retention campaign
                    status: inactive
                    event: contact_updated
                    created_at: 2023-05-12T14:04:25+00:00
                    updated_at: 2023-05-12T14:04:25+00:00
                  - uuid: ef8bbd38-9b8b-4987-86ed-edc4ce97ecea
                    name: Start a retention campaign
                    status: inactive
                    event: contact_updated
                    created_at: 2023-05-12T14:04:36+00:00
                    updated_at: 2023-05-12T14:04:36+00:00
                  - uuid: b7735d52-a624-470f-a223-43b7d8111f59
                    name: Start a retention campaign
                    status: inactive
                    event: contact_updated
                    created_at: 2023-05-12T14:10:38+00:00
                    updated_at: 2023-05-12T14:10:39+00:00
                  - uuid: c29bc040-712f-44f6-a45d-d0082d5e890d
                    name: Start a retention campaign
                    status: inactive
                    event: contact_updated
                    created_at: 2023-05-12T14:14:08+00:00
                    updated_at: 2023-05-12T14:14:08+00:00
                  - uuid: 8da45e11-799e-4fb4-81ec-3b97951ee59f
                    name: Start a retention campaign
                    status: inactive
                    event: contact_updated
                    created_at: 2023-05-12T14:15:53+00:00
                    updated_at: 2023-05-12T14:15:53+00:00
                  - uuid: b08ea362-7b06-4865-85e7-dde04bcee066
                    name: Henkie penkie de derde
                    status: active
                    event: contact_created
                    created_at: 2023-05-31T14:03:17+00:00
                    updated_at: 2023-05-31T14:14:36+00:00
                  - uuid: f70d9bc3-51a9-4162-80d6-c53f5d5cc24f
                    name: "test donderdag "
                    status: active
                    event: contact_updated
                    created_at: 2023-06-01T07:23:06+00:00
                    updated_at: 2023-06-01T07:23:40+00:00
                  - uuid: f3f11e5c-8567-4e15-8856-73a15c88b409
                    name: New contact = free voucher for test 123
                    status: active
                    event: contact_created
                    created_at: 2023-06-01T13:22:54+00:00
                    updated_at: 2023-06-01T13:25:42+00:00
                  - uuid: e701e7fd-a7b4-4d8d-8415-ac84ddb7f7c3
                    name: Empty automation
                    status: inactive
                    event: contact_created
                    created_at: 2023-06-02T10:53:23+00:00
                    updated_at: 2023-06-02T10:53:23+00:00
                  - uuid: ead81244-fe2f-412c-a9c9-d8d465e1e399
                    name: Empty automation
                    status: inactive
                    event: contact_updated
                    created_at: 2023-06-08T08:43:53+00:00
                    updated_at: 2023-06-08T08:43:53+00:00
                  - uuid: dd403b07-0a1c-4d1d-aa4e-d493e4a7c099
                    name: Start a retention campaign
                    status: inactive
                    event: contact_updated
                    created_at: 2023-06-08T08:44:18+00:00
                    updated_at: 2023-06-08T08:44:18+00:00
                  - uuid: 39d10431-b931-4664-b9e0-ab53b4f8bbd3
                    name: Start a retention campaign
                    status: inactive
                    event: contact_updated
                    created_at: 2023-06-08T09:14:39+00:00
                    updated_at: 2023-06-08T09:14:39+00:00
                  - uuid: 32112be3-9887-4d21-8664-a150929338e7
                    name: Start a retention campaign
                    status: inactive
                    event: contact_updated
                    created_at: 2023-06-08T09:18:53+00:00
                    updated_at: 2023-06-08T09:18:53+00:00
                  - uuid: d5fc555d-6dc2-4f95-add8-3fe87ae38bd8
                    name: Export data with a webhook
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T09:22:19+00:00
                    updated_at: 2023-06-08T09:22:19+00:00
                  - uuid: 52100c24-61aa-4c00-bd04-4d9aee61224a
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T09:24:21+00:00
                    updated_at: 2023-06-08T09:24:21+00:00
                  - uuid: b4ede6b2-b379-4ffe-8e60-f57c4d3546df
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T09:24:30+00:00
                    updated_at: 2023-06-08T09:24:30+00:00
                  - uuid: 7c700ac2-580e-4964-aa70-a6f56165019f
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T09:25:46+00:00
                    updated_at: 2023-06-08T09:25:46+00:00
                  - uuid: fb3d7a40-5f42-4cfc-967c-8a28ecf3381b
                    name: Start a retention campaign
                    status: inactive
                    event: contact_updated
                    created_at: 2023-06-08T09:30:24+00:00
                    updated_at: 2023-06-08T09:30:24+00:00
                  - uuid: 562755ca-5c3a-4028-9d1c-ae12d7cffceb
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T09:32:11+00:00
                    updated_at: 2023-06-08T09:32:11+00:00
                  - uuid: cde07ecb-b18a-489d-9154-33ed9b78c752
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T09:34:50+00:00
                    updated_at: 2023-06-08T09:34:50+00:00
                  - uuid: 3a1a6529-5890-4c73-9bdb-47d731acaf87
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T09:39:27+00:00
                    updated_at: 2023-06-08T09:39:27+00:00
                  - uuid: 01c33aae-1857-49bb-af6c-afdf27b78acc
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T09:40:21+00:00
                    updated_at: 2023-06-08T09:40:21+00:00
                  - uuid: 488562d3-037b-4ce1-b524-9ad606953aa6
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T09:41:40+00:00
                    updated_at: 2023-06-08T09:41:40+00:00
                  - uuid: f42ccd48-cd6d-461e-9182-1e2aeb9bfe5e
                    name: Start a retention campaign
                    status: inactive
                    event: contact_updated
                    created_at: 2023-06-08T09:48:26+00:00
                    updated_at: 2023-06-08T09:48:26+00:00
                  - uuid: a963e88e-74fc-42b4-a372-3e42882055ed
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T10:37:07+00:00
                    updated_at: 2023-06-08T10:37:07+00:00
                  - uuid: 90f163dc-f485-4df5-af68-84ac5f062e57
                    name: Start a retention campaign
                    status: inactive
                    event: contact_updated
                    created_at: 2023-06-08T10:37:58+00:00
                    updated_at: 2023-06-08T10:37:58+00:00
                  - uuid: 2f8b986b-d85b-4da1-b057-699624e6dc8a
                    name: Start a retention campaign
                    status: inactive
                    event: contact_updated
                    created_at: 2023-06-08T10:38:44+00:00
                    updated_at: 2023-06-08T10:38:44+00:00
                  - uuid: 558803ef-267a-488d-ab4e-4229a409a3ef
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T10:49:06+00:00
                    updated_at: 2023-06-08T10:49:06+00:00
                  - uuid: 2cca816c-c977-412d-8646-ab6a5322d5a7
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T10:52:12+00:00
                    updated_at: 2023-06-08T10:52:12+00:00
                  - uuid: e0b5eb5a-b1b6-439c-97fc-8dde12115a08
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T11:41:02+00:00
                    updated_at: 2023-06-08T11:41:02+00:00
                  - uuid: f2ac6159-8ca3-4a77-a80b-5946e0d0ec5a
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T11:41:22+00:00
                    updated_at: 2023-06-08T11:41:22+00:00
                  - uuid: c6aa5268-04d4-463b-8e15-a296d3dfe480
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T11:46:12+00:00
                    updated_at: 2023-06-08T11:46:12+00:00
                  - uuid: 35527d9d-08dc-4184-b2a0-dfcfe948a4d2
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T11:47:42+00:00
                    updated_at: 2023-06-08T11:47:42+00:00
                  - uuid: 5c078c67-fe60-46b4-947e-57b98da9948b
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T11:53:42+00:00
                    updated_at: 2023-06-08T11:53:42+00:00
                  - uuid: eeb35193-3eef-4d21-bf44-b3c9c1d29697
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T11:53:46+00:00
                    updated_at: 2023-06-08T11:53:46+00:00
                  - uuid: 753c8586-54b7-4917-ad0f-2b051be70ae3
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T11:56:16+00:00
                    updated_at: 2023-06-08T11:56:16+00:00
                  - uuid: 9a63d481-ab69-46c5-bb2c-cb34adaaa6c6
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T11:59:51+00:00
                    updated_at: 2023-06-08T11:59:51+00:00
                  - uuid: 699515ea-58e6-4afb-ad3f-c825a3c2d513
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T12:00:13+00:00
                    updated_at: 2023-06-08T12:00:13+00:00
                  - uuid: 033df4a8-fd8c-41e7-a048-64a6bb54f294
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T12:01:59+00:00
                    updated_at: 2023-06-08T12:01:59+00:00
                  - uuid: 480004d9-cf0a-46d8-98e6-8f90238976b8
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T12:05:30+00:00
                    updated_at: 2023-06-08T12:05:30+00:00
                  - uuid: 2a124a89-d516-4b30-a2c7-6fcabd50b062
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T12:05:42+00:00
                    updated_at: 2023-06-08T12:05:42+00:00
                  - uuid: ad4b3c8b-501c-42ed-8fca-818384f9e133
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T12:11:39+00:00
                    updated_at: 2023-06-08T12:11:39+00:00
                  - uuid: 5b9390a5-9677-47d3-b5c9-9ea6f96256aa
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T12:14:11+00:00
                    updated_at: 2023-06-08T12:14:11+00:00
                  - uuid: 494b48f9-5fd4-4932-b8db-bb401c0b5e4f
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T12:14:17+00:00
                    updated_at: 2023-06-08T12:14:17+00:00
                  - uuid: dc0572a6-741f-4640-b18d-65132048eec2
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T12:14:44+00:00
                    updated_at: 2023-06-08T12:14:44+00:00
                  - uuid: 61283b00-4704-4258-9656-2467941aced9
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T12:14:48+00:00
                    updated_at: 2023-06-08T12:14:48+00:00
                  - uuid: 832c473b-54ca-4c22-834c-e01b6caed939
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T12:14:55+00:00
                    updated_at: 2023-06-08T12:14:55+00:00
                  - uuid: 39a6b148-b595-49ce-9237-e38249c447d3
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T12:16:14+00:00
                    updated_at: 2023-06-08T12:16:14+00:00
                  - uuid: a25a96b5-3958-47fd-9be3-8a7e213f3752
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T12:16:25+00:00
                    updated_at: 2023-06-08T12:16:25+00:00
                  - uuid: ed0d0e0b-6e52-47a0-8ec8-bb472efbc965
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T12:16:35+00:00
                    updated_at: 2023-06-08T12:16:35+00:00
                  - uuid: 9aedfa2c-2a94-4050-8ded-b7fbcc0c0718
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T12:16:40+00:00
                    updated_at: 2023-06-08T12:16:40+00:00
                  - uuid: 87fbdd64-356b-4d6c-a1ee-7856ad8c29ff
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T12:17:00+00:00
                    updated_at: 2023-06-08T12:17:00+00:00
                  - uuid: 31a9268b-cd1b-497f-9f36-d3eb0247ca2c
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T12:41:32+00:00
                    updated_at: 2023-06-08T12:41:32+00:00
                  - uuid: 1246320f-b8c8-418c-9024-a549118c2f9f
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T14:31:46+00:00
                    updated_at: 2023-06-08T14:31:46+00:00
                  - uuid: 1c9d2208-2dca-4300-96cd-fffac8920d29
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T15:11:23+00:00
                    updated_at: 2023-06-08T15:11:23+00:00
                  - uuid: fa73a6be-a01e-4160-82a9-9fa843e42bdb
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T15:13:07+00:00
                    updated_at: 2023-06-08T15:13:07+00:00
                  - uuid: ed66e950-b574-4aad-b864-216b35230dc9
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T15:13:38+00:00
                    updated_at: 2023-06-08T15:13:38+00:00
                  - uuid: 97909b98-1279-4cca-b2df-7d68b30b0487
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-08T15:13:56+00:00
                    updated_at: 2023-06-08T15:13:56+00:00
                  - uuid: 3315ad46-cf05-44ca-9521-124601bd05e3
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-09T08:19:24+00:00
                    updated_at: 2023-06-09T08:19:24+00:00
                  - uuid: 48bcc051-3005-4911-bbaf-e526d9d99729
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-09T08:19:25+00:00
                    updated_at: 2023-06-09T08:19:25+00:00
                  - uuid: 04728b72-cd46-4698-a233-6c4be7fc0feb
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-09T08:19:26+00:00
                    updated_at: 2023-06-09T08:19:26+00:00
                  - uuid: 1f6fa182-d39c-4e26-814b-7e25d03f3879
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-09T08:19:27+00:00
                    updated_at: 2023-06-09T08:19:27+00:00
                  - uuid: 0a52533a-0903-4515-bfcc-0c26899279b2
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-09T08:20:23+00:00
                    updated_at: 2023-06-09T08:20:23+00:00
                  - uuid: 56789b54-1cd7-4c7d-8d64-060b77a7d5c3
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-09T08:21:22+00:00
                    updated_at: 2023-06-09T08:21:22+00:00
                  - uuid: bc9f7091-9e84-4459-89f9-b2f69b3f5600
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-09T08:30:41+00:00
                    updated_at: 2023-06-09T08:30:41+00:00
                  - uuid: 2069b589-90df-4d3e-a88d-d390173a50a6
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-09T08:40:07+00:00
                    updated_at: 2023-06-09T08:40:07+00:00
                  - uuid: ccd8746d-c3e6-44e9-9102-84232ce8b0f2
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-09T08:41:55+00:00
                    updated_at: 2023-06-09T08:41:55+00:00
                  - uuid: d3859046-3882-4662-add7-5b528bd4f3d6
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-09T08:42:07+00:00
                    updated_at: 2023-06-09T08:42:07+00:00
                  - uuid: c34b04e9-1d59-4870-b35b-996d731dce7d
                    name: haha nieuwe naam122
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-06-09T08:42:19+00:00
                    updated_at: 2023-06-16T12:26:06+00:00
                  - uuid: 9468b190-27a8-4063-ae9a-4647ab91a3de
                    name: reeeetentie2333333333
                    status: active
                    event: contact_updated
                    created_at: 2023-06-16T12:30:15+00:00
                    updated_at: 2023-06-16T12:38:20+00:00
                  - uuid: c29b6acb-cbfe-4e05-8c23-c21e7f6672b4
                    name: Empty automation
                    status: inactive
                    event: form_submission_completed
                    created_at: 2023-07-14T14:49:35+00:00
                    updated_at: 2023-07-14T14:49:35+00:00
                  - uuid: d3129669-6768-49f4-9435-8381618dcb7f
                    name: Empty automation
                    status: inactive
                    event: form_submission_completed
                    created_at: 2023-07-14T14:49:54+00:00
                    updated_at: 2023-07-14T14:49:54+00:00
                  - uuid: 73fff075-0dfc-4b6f-a34f-1dd965f91e9b
                    name: Empty automatfwefweion
                    status: inactive
                    event: form_submission_completed
                    created_at: 2023-07-14T14:50:20+00:00
                    updated_at: 2023-07-14T14:50:48+00:00
                  - uuid: 952be72c-434c-4707-8536-20c70e06244b
                    name: Empty automation
                    status: inactive
                    event: form_submission_completed
                    created_at: 2023-07-14T14:53:54+00:00
                    updated_at: 2023-07-14T14:53:54+00:00
                  - uuid: 1394594d-5e12-4fdb-81d0-3f610636e657
                    name: Reward unlocked
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-07-14T14:57:33+00:00
                    updated_at: 2023-07-14T14:57:33+00:00
                  - uuid: a064efd8-f61e-47be-a0b0-d95437fc2d5a
                    name: Empty automation
                    status: inactive
                    event: form_submission_completed
                    created_at: 2023-07-14T14:58:33+00:00
                    updated_at: 2023-07-14T14:58:33+00:00
                  - uuid: 9ce6034e-9b47-466b-896c-584412430a57
                    name: Empty automation
                    status: inactive
                    event: form_submission_completed
                    created_at: 2023-07-14T15:00:41+00:00
                    updated_at: 2023-07-14T15:00:41+00:00
                  - uuid: 9730334a-81a5-4f6f-abbd-26bed7738745
                    name: Empty automation
                    status: inactive
                    event: form_submission_completed
                    created_at: 2023-07-14T15:00:55+00:00
                    updated_at: 2023-07-14T15:00:55+00:00
                  - uuid: 291fbb90-1c26-48cb-82b1-7693bd6c70e0
                    name: Thank loyal contacts
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-07-14T15:08:16+00:00
                    updated_at: 2023-07-14T15:08:16+00:00
                  - uuid: f0fb068b-2e3e-419f-a4f0-48226bb41ab6
                    name: Empty automation
                    status: inactive
                    event: credit_reception_created
                    created_at: 2023-09-04T16:20:02+00:00
                    updated_at: 2023-09-04T16:20:02+00:00
                  - uuid: 425ef841-63b9-4190-bd38-56755b230b92
                    name: Empty automation
                    status: inactive
                    event: form_submission_completed
                    created_at: 2023-09-19T14:02:36+00:00
                    updated_at: 2023-09-19T14:02:36+00:00
                meta: {}
  /oauth/clients/automations/runs:
    post:
      tags:
        - OAuth v3 > Clients > Automations
      summary: Create Automation Run
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                contact_uuid:
                  type: string
                  description: >
                    <p>(string, required) Contact for whom the automation is to
                    be triggered</p>
                  example: "{{contact_uuid}}"
                automation_uuid:
                  type: string
                  description: |
                    <p>(string, required) The automation to be triggered </p>
                  example: "{{automation_uuid}}"
                data:
                  type: string
                  description: >
                    <p>(array, optional) An array of data that can be used in
                    the automation</p>
                  example: "[]"
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: 127.0.0.1:8001
            Date:
              schema:
                type: string
                example: Wed, 08 Nov 2023 14:42:17 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/7.4.33
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: "5000"
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: "4997"
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: Authorization
          content:
            application/json:
              schema:
                type: object
              example:
                data: []
                meta: {}
  /oauth/clients/brand-kit:
    get:
      tags:
        - OAuth v3 > Clients > Brandkit
      summary: Get Brand Kit
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: 127.0.0.1:8001
            Date:
              schema:
                type: string
                example: Fri, 10 Nov 2023 16:58:01 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/7.4.33
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: "5000"
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: "4999"
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: Authorization
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  small_logo_url: https://static.piggy.nl/business/brandkit/logo.png
                  large_logo_url: https://static.piggy.nl/business/brandkit/logo.png
                  primary_color: "#dee7ff"
                  secondary_color: "#d9d9d9"
                  tertiary_color: "#000000"
                  quarternary_color: "#44c6c4"
                  font_family: DM Sans
                meta: []
  /oauth/clients/collectable-rewards:
    get:
      tags:
        - OAuth v3 > Clients > Collectable Rewards
      summary: List Collectable Rewards for Contact
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: 127.0.0.1:8001
            Date:
              schema:
                type: string
                example: Mon, 13 Nov 2023 15:02:00 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/7.4.33
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: "5000"
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: "4993"
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: Authorization
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  - contact:
                      uuid: "123"
                      email: nizlslzvzrt_42@hytmxil.cym
                      credit_balance:
                        id: 2625740
                        balance: 2895
                    created_at: 2023-11-13T14:37:04+00:00
                    uuid: 0d130a1d-db03-483a-b614-e607117eba91
                    title: Lekkerbekkie
                    reward:
                      id: 20002
                      uuid: 539483d0-fab4-40db-add5-2ec65ef12901
                      title: Lekkerbekkie
                      description: null
                      reward_type: PHYSICAL
                      media:
                        type: image
                        value: http://localhost:8001/storage/accounts/ea8b731d-9db1-4deb-8e12-e0d9d89b194e/uploads/1699885865/conversions/300x200.jpg
                      required_credits: 2
                      pre_redeemable: true
                      expiration_duration: 6307200
                      is_active: true
                      cost_price: null
                      stock: null
                      eennaam: "false"
                      middle_name: ""
                      middle_name1223434: ""
                      someName122323we8e2dfjdd112eiedodfk2388383: ""
                      someName122323we8e2dfjdde112eiedodfk2388383: ""
                    expires_at: 2024-01-25T14:37:04+00:00
                    has_been_collected: false
                meta: {}
  /oauth/clients/collectable-rewards/collect/{loyalty_transaction_uuid}:
    put:
      tags:
        - OAuth v3 > Clients > Collectable Rewards
      summary: Redeem Collectable Reward
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      security:
        - bearerAuth: []
      parameters:
        - name: loyalty_transaction_uuid
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: 127.0.0.1:8001
            Date:
              schema:
                type: string
                example: Mon, 13 Nov 2023 14:17:37 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/7.4.33
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: "5000"
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: "4997"
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: Authorization
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  contact:
                    uuid: "123"
                    email: nizlslzvzrt_42@hytmxil.cym
                  created_at: 2023-11-13T14:12:12+00:00
                  uuid: 13ac4cc1-3522-4dfc-ae4a-a821e5090108
                  title: beloning die je gaat ophalen in de winkel
                  reward:
                    id: 20001
                    uuid: 0fb363f8-6746-4e9b-ab31-1d4324ed2021
                    title: beloning die je gaat ophalen in de winkel
                    description: null
                    reward_type: PHYSICAL
                    media:
                      type: image
                      value: http://localhost:8001/storage/accounts/ea8b731d-9db1-4deb-8e12-e0d9d89b194e/uploads/1699882434/conversions/300x225.jpg
                    required_credits: 10
                    pre_redeemable: true
                    expiration_duration: 2592000
                    is_active: true
                    cost_price: 17
                    stock: 99
                    eennaam: "false"
                    middle_name: ""
                    middle_name1223434: ""
                    someName122323we8e2dfjdd112eiedodfk2388383: ""
                    someName122323we8e2dfjdde112eiedodfk2388383: ""
                  expires_at: 2023-12-13T14:12:12+00:00
                  has_been_collected: true
                meta: {}
  /oauth/clients/collectable-rewards/{collectable_reward_redemption_uuid}/reverse:
    post:
      tags:
        - OAuth v3 > Clients > Collectable Rewards
      summary: Reverse Collectable Reward Redemption
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      security:
        - bearerAuth: []
      parameters:
        - name: collectable_reward_redemption_uuid
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: 127.0.0.1:8001
            Date:
              schema:
                type: string
                example: Mon, 13 Nov 2023 14:17:37 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/7.4.33
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: "5000"
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: "4997"
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: Authorization
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  contact:
                    uuid: "123"
                    email: nizlslzvzrt_42@hytmxil.cym
                  created_at: 2023-11-13T14:12:12+00:00
                  uuid: 13ac4cc1-3522-4dfc-ae4a-a821e5090108
                  title: beloning die je gaat ophalen in de winkel
                  reward:
                    id: 20001
                    uuid: 0fb363f8-6746-4e9b-ab31-1d4324ed2021
                    title: beloning die je gaat ophalen in de winkel
                    description: null
                    reward_type: PHYSICAL
                    media:
                      type: image
                      value: http://localhost:8001/storage/accounts/ea8b731d-9db1-4deb-8e12-e0d9d89b194e/uploads/1699882434/conversions/300x225.jpg
                    required_credits: 10
                    pre_redeemable: true
                    expiration_duration: 2592000
                    is_active: true
                    cost_price: 17
                    stock: 99
                    eennaam: "false"
                    middle_name: ""
                    middle_name1223434: ""
                    someName122323we8e2dfjdd112eiedodfk2388383: ""
                    someName122323we8e2dfjdde112eiedodfk2388383: ""
                  expires_at: 2023-12-13T14:12:12+00:00
                  has_been_collected: true
                meta: {}
  /oauth/clients/contact-attributes:
    get:
      tags:
        - OAuth v3 > Clients > Contact Attributes
      summary: List Contact Attributes
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: 127.0.0.1:8001
            Date:
              schema:
                type: string
                example: Fri, 10 Nov 2023 14:45:56 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/7.4.33
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: "5000"
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: "4998"
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: Authorization
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  - id: 2204
                    name: avatar
                    label: Avatar
                    type: media_upload
                    group_name: null
                    group:
                      id: 140
                      name: profile
                      position: 1
                    is_piggy_defined: true
                    is_soft_read_only: false
                    is_hard_read_only: false
                    field_type: default
                    has_unique_value: false
                    description: An image for the contact
                    options: []
                    position: 1
                    created_at: 2023-11-03T14:58:25+00:00
                    meta: []
                    can_be_deleted: false
                    last_used_date: null
                    created_by_user:
                      id: 159
                      email: christiaan@piggy.nl
                      firstname: Piggy
                      lastname: Loyalty
                  - id: 2205
                    name: firstname
                    label: First name
                    type: text
                    group_name: null
                    group:
                      id: 140
                      name: profile
                      position: 1
                    is_piggy_defined: true
                    is_soft_read_only: false
                    is_hard_read_only: false
                    field_type: default
                    has_unique_value: false
                    description: The contact's first name
                    options: []
                    position: 2
                    created_at: 2023-11-03T14:58:25+00:00
                    meta: []
                    can_be_deleted: false
                    last_used_date:
                      date: 2023-11-09 14:52:24.000000
                      timezone_type: 3
                      timezone: UTC
                    created_by_user:
                      id: 159
                      email: christiaan@piggy.nl
                      firstname: Piggy
                      lastname: Loyalty
                  - id: 2206
                    name: lastname
                    label: Last name
                    type: text
                    group_name: null
                    group:
                      id: 140
                      name: profile
                      position: 1
                    is_piggy_defined: true
                    is_soft_read_only: false
                    is_hard_read_only: false
                    field_type: default
                    has_unique_value: false
                    description: The contact's last name
                    options: []
                    position: 3
                    created_at: 2023-11-03T14:58:25+00:00
                    meta: []
                    can_be_deleted: false
                    last_used_date:
                      date: 2023-11-10 11:55:39.000000
                      timezone_type: 3
                      timezone: UTC
                    created_by_user:
                      id: 159
                      email: christiaan@piggy.nl
                      firstname: Piggy
                      lastname: Loyalty
                  - id: 2203
                    name: email
                    label: Email
                    type: email
                    group_name: null
                    group:
                      id: 140
                      name: profile
                      position: 1
                    is_piggy_defined: true
                    is_soft_read_only: true
                    is_hard_read_only: true
                    field_type: default
                    has_unique_value: true
                    description: The contact's email address
                    options: []
                    position: 4
                    created_at: 2023-11-03T14:58:25+00:00
                    meta: []
                    can_be_deleted: false
                    last_used_date:
                      date: 2023-11-10 13:32:51.000000
                      timezone_type: 3
                      timezone: UTC
                    created_by_user:
                      id: 159
                      email: christiaan@piggy.nl
                      firstname: Piggy
                      lastname: Loyalty
                  - id: 2220
                    name: previous_loyalty_balance
                    label: Previous credit balance
                    type: number
                    group_name: null
                    group:
                      id: 140
                      name: profile
                      position: 1
                    is_piggy_defined: true
                    is_soft_read_only: true
                    is_hard_read_only: false
                    field_type: default
                    has_unique_value: false
                    description: The value of the credit balance before the last transaction was
                      applied.
                    options: []
                    position: 5
                    created_at: 2023-11-03T14:58:25+00:00
                    meta: []
                    can_be_deleted: false
                    last_used_date:
                      date: 2023-11-10 13:32:51.000000
                      timezone_type: 3
                      timezone: UTC
                    created_by_user:
                      id: 159
                      email: christiaan@piggy.nl
                      firstname: Piggy
                      lastname: Loyalty
                  - id: 2219
                    name: loyalty_balance
                    label: Credit balance
                    type: number
                    group_name: null
                    group:
                      id: 140
                      name: profile
                      position: 1
                    is_piggy_defined: true
                    is_soft_read_only: true
                    is_hard_read_only: false
                    field_type: default
                    has_unique_value: false
                    description: Current credit balance
                    options: []
                    position: 6
                    created_at: 2023-11-03T14:58:25+00:00
                    meta: []
                    can_be_deleted: false
                    last_used_date:
                      date: 2023-11-10 13:32:51.000000
                      timezone_type: 3
                      timezone: UTC
                    created_by_user:
                      id: 159
                      email: christiaan@piggy.nl
                      firstname: Piggy
                      lastname: Loyalty
                  - id: 2223
                    name: loyalty_number_of_transactions
                    label: Number of transactions
                    type: number
                    group_name: null
                    group:
                      id: 140
                      name: profile
                      position: 1
                    is_piggy_defined: true
                    is_soft_read_only: true
                    is_hard_read_only: false
                    field_type: default
                    has_unique_value: false
                    description: The number of loyalty transaction the contact has had
                    options: []
                    position: 7
                    created_at: 2023-11-03T14:58:25+00:00
                    meta: []
                    can_be_deleted: false
                    last_used_date:
                      date: 2023-11-10 13:32:51.000000
                      timezone_type: 3
                      timezone: UTC
                    created_by_user:
                      id: 159
                      email: christiaan@piggy.nl
                      firstname: Piggy
                      lastname: Loyalty
                  - id: 2221
                    name: loyalty_first_transaction_date
                    label: First credit reception date
                    type: date_time
                    group_name: null
                    group:
                      id: 140
                      name: profile
                      position: 1
                    is_piggy_defined: true
                    is_soft_read_only: true
                    is_hard_read_only: true
                    field_type: default
                    has_unique_value: false
                    description: The date that the contact got their first points
                    options: []
                    position: 8
                    created_at: 2023-11-03T14:58:25+00:00
                    meta: []
                    can_be_deleted: false
                    last_used_date:
                      date: 2023-11-06 08:30:08.000000
                      timezone_type: 3
                      timezone: UTC
                    created_by_user:
                      id: 159
                      email: christiaan@piggy.nl
                      firstname: Piggy
                      lastname: Loyalty
                  - id: 2222
                    name: loyalty_last_transaction_date
                    label: Last transaction date
                    type: date_time
                    group_name: null
                    group:
                      id: 140
                      name: profile
                      position: 1
                    is_piggy_defined: true
                    is_soft_read_only: true
                    is_hard_read_only: false
                    field_type: default
                    has_unique_value: false
                    description: The date of thecontact's most recent loyalty transaction
                    options: []
                    position: 9
                    created_at: 2023-11-03T14:58:25+00:00
                    meta: []
                    can_be_deleted: false
                    last_used_date:
                      date: 2023-11-09 19:24:58.000000
                      timezone_type: 3
                      timezone: UTC
                    created_by_user:
                      id: 159
                      email: christiaan@piggy.nl
                      firstname: Piggy
                      lastname: Loyalty
                  - id: 2207
                    name: address
                    label: Address
                    type: text
                    group_name: null
                    group:
                      id: 140
                      name: profile
                      position: 1
                    is_piggy_defined: true
                    is_soft_read_only: false
                    is_hard_read_only: false
                    field_type: default
                    has_unique_value: false
                    description: The contact's address information
                    options: []
                    position: 10
                    created_at: 2023-11-03T14:58:25+00:00
                    meta: []
                    can_be_deleted: false
                    last_used_date: null
                    created_by_user:
                      id: 159
                      email: christiaan@piggy.nl
                      firstname: Piggy
                      lastname: Loyalty
                  - id: 2208
                    name: phonenumber
                    label: Telephone number
                    type: phone
                    group_name: null
                    group:
                      id: 140
                      name: profile
                      position: 1
                    is_piggy_defined: true
                    is_soft_read_only: false
                    is_hard_read_only: false
                    field_type: default
                    has_unique_value: false
                    description: The contact's phone number
                    options: []
                    position: 11
                    created_at: 2023-11-03T14:58:25+00:00
                    meta: []
                    can_be_deleted: false
                    last_used_date: null
                    created_by_user:
                      id: 159
                      email: christiaan@piggy.nl
                      firstname: Piggy
                      lastname: Loyalty
                  - id: 2209
                    name: birthdate
                    label: Birth date
                    type: birth_date
                    group_name: null
                    group:
                      id: 140
                      name: profile
                      position: 1
                    is_piggy_defined: true
                    is_soft_read_only: false
                    is_hard_read_only: false
                    field_type: default
                    has_unique_value: false
                    description: The contact's birthdate
                    options: []
                    position: 12
                    created_at: 2023-11-03T14:58:25+00:00
                    meta:
                      days:
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                      months:
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                      years:
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                        - {}
                    can_be_deleted: false
                    last_used_date: null
                    created_by_user:
                      id: 159
                      email: christiaan@piggy.nl
                      firstname: Piggy
                      lastname: Loyalty
                  - id: 2210
                    name: channel
                    label: Channel
                    type: select
                    group_name: null
                    group:
                      id: 140
                      name: profile
                      position: 1
                    is_piggy_defined: true
                    is_soft_read_only: true
                    is_hard_read_only: true
                    field_type: default
                    has_unique_value: false
                    description: The channel through which this contact was created
                    options:
                      - value: BUSINESS_APP
                        label: BUSINESS_APP
                        description: null
                        media: null
                      - value: API
                        label: API
                        description: null
                        media: null
                      - value: BUSINESS_DASHBOARD
                        label: BUSINESS_DASHBOARD
                        description: null
                        media: null
                      - value: CUSTOMER_APP
                        label: CUSTOMER_APP
                        description: null
                        media: null
                      - value: WEBSHOP_API
                        label: WEBSHOP_API
                        description: null
                        media: null
                      - value: IMPORT
                        label: IMPORT
                        description: null
                        media: null
                      - value: WEBSITE_FORM
                        label: WEBSITE_FORM
                        description: null
                        media: null
                      - value: REGISTER_API
                        label: REGISTER_API
                        description: null
                        media: null
                      - value: OAUTH_API
                        label: OAUTH_API
                        description: null
                        media: null
                      - value: SUBSCRIPTION_TYPE
                        label: SUBSCRIPTION_TYPE
                        description: null
                        media: null
                      - value: CUSTOM_APP
                        label: CUSTOM_APP
                        description: null
                        media: null
                      - value: AUTOMATIONS
                        label: AUTOMATIONS
                        description: null
                        media: null
                      - value: FORMS
                        label: FORMS
                        description: null
                        media: null
                      - value: WIDGET
                        label: WIDGET
                        description: null
                        media: null
                    position: 13
                    created_at: 2023-11-03T14:58:25+00:00
                    meta: []
                    can_be_deleted: false
                    last_used_date:
                      date: 2023-11-10 13:32:51.000000
                      timezone_type: 3
                      timezone: UTC
                    created_by_user:
                      id: 159
                      email: christiaan@piggy.nl
                      firstname: Piggy
                      lastname: Loyalty
                  - id: 2211
                    name: age
                    label: Age
                    type: number
                    group_name: null
                    group:
                      id: 140
                      name: profile
                      position: 1
                    is_piggy_defined: true
                    is_soft_read_only: false
                    is_hard_read_only: false
                    field_type: default
                    has_unique_value: false
                    description: The contact's age
                    options: []
                    position: 14
                    created_at: 2023-11-03T14:58:25+00:00
                    meta: []
                    can_be_deleted: false
                    last_used_date: null
                    created_by_user:
                      id: 159
                      email: christiaan@piggy.nl
                      firstname: Piggy
                      lastname: Loyalty
                  - id: 2212
                    name: locale
                    label: Preferred language
                    type: select
                    group_name: null
                    group:
                      id: 140
                      name: profile
                      position: 1
                    is_piggy_defined: true
                    is_soft_read_only: false
                    is_hard_read_only: false
                    field_type: default
                    has_unique_value: false
                    description: The contact's preferred language
                    options:
                      - value: en
                        label: English
                        description: null
                        media: null
                      - value: nl
                        label: Nederlands
                        description: null
                        media: null
                      - value: de
                        label: Deutsch
                        description: null
                        media: null
                      - value: es
                        label: Español
                        description: null
                        media: null
                      - value: fr
                        label: Francés
                        description: null
                        media: null
                    position: 15
                    created_at: 2023-11-03T14:58:25+00:00
                    meta: []
                    can_be_deleted: false
                    last_used_date: null
                    created_by_user:
                      id: 159
                      email: christiaan@piggy.nl
                      firstname: Piggy
                      lastname: Loyalty
                  - id: 2213
                    name: status
                    label: Status
                    type: select
                    group_name: null
                    group:
                      id: 140
                      name: profile
                      position: 1
                    is_piggy_defined: true
                    is_soft_read_only: true
                    is_hard_read_only: false
                    field_type: default
                    has_unique_value: false
                    description: The contact's current status
                    options:
                      - value: ACTIVE
                        label: Active
                        description: null
                        media: null
                      - value: INACTIVE
                        label: Inactive
                        description: null
                        media: null
                    position: 16
                    created_at: 2023-11-03T14:58:25+00:00
                    meta: []
                    can_be_deleted: false
                    last_used_date:
                      date: 2023-11-10 13:32:51.000000
                      timezone_type: 3
                      timezone: UTC
                    created_by_user:
                      id: 159
                      email: christiaan@piggy.nl
                      firstname: Piggy
                      lastname: Loyalty
                  - id: 2214
                    name: updated_at
                    label: Updated at
                    type: date_time
                    group_name: null
                    group:
                      id: 140
                      name: profile
                      position: 1
                    is_piggy_defined: true
                    is_soft_read_only: true
                    is_hard_read_only: false
                    field_type: default
                    has_unique_value: false
                    description: The date the contact was last updated
                    options: []
                    position: 17
                    created_at: 2023-11-03T14:58:25+00:00
                    meta: []
                    can_be_deleted: false
                    last_used_date:
                      date: 2023-11-10 13:32:51.000000
                      timezone_type: 3
                      timezone: UTC
                    created_by_user:
                      id: 159
                      email: christiaan@piggy.nl
                      firstname: Piggy
                      lastname: Loyalty
                  - id: 2215
                    name: created_at
                    label: Created at
                    type: date_time
                    group_name: null
                    group:
                      id: 140
                      name: profile
                      position: 1
                    is_piggy_defined: true
                    is_soft_read_only: true
                    is_hard_read_only: true
                    field_type: default
                    has_unique_value: false
                    description: The date on which the contact was created
                    options: []
                    position: 18
                    created_at: 2023-11-03T14:58:25+00:00
                    meta: []
                    can_be_deleted: false
                    last_used_date:
                      date: 2023-11-10 13:32:51.000000
                      timezone_type: 3
                      timezone: UTC
                    created_by_user:
                      id: 159
                      email: christiaan@piggy.nl
                      firstname: Piggy
                      lastname: Loyalty
                  - id: 2216
                    name: is_anonymous
                    label: Anonymous
                    type: boolean
                    group_name: null
                    group:
                      id: 140
                      name: profile
                      position: 1
                    is_piggy_defined: true
                    is_soft_read_only: true
                    is_hard_read_only: false
                    field_type: default
                    has_unique_value: false
                    description: This contact has not been verified and uses a fictive email address
                    options:
                      - value: "true"
                        label: "True"
                        description: null
                        media: null
                      - value: "false"
                        label: "False"
                        description: null
                        media: null
                    position: 19
                    created_at: 2023-11-03T14:58:25+00:00
                    meta: []
                    can_be_deleted: false
                    last_used_date:
                      date: 2023-11-10 13:32:51.000000
                      timezone_type: 3
                      timezone: UTC
                    created_by_user:
                      id: 159
                      email: christiaan@piggy.nl
                      firstname: Piggy
                      lastname: Loyalty
                  - id: 2217
                    name: prepaid_balance
                    label: Prepaid balance
                    type: float
                    group_name: null
                    group:
                      id: 140
                      name: profile
                      position: 1
                    is_piggy_defined: true
                    is_soft_read_only: true
                    is_hard_read_only: false
                    field_type: default
                    has_unique_value: false
                    description: The contact's current prepaid balance
                    options: []
                    position: 20
                    created_at: 2023-11-03T14:58:25+00:00
                    meta: []
                    can_be_deleted: false
                    last_used_date:
                      date: 2023-11-10 13:32:51.000000
                      timezone_type: 3
                      timezone: UTC
                    created_by_user:
                      id: 159
                      email: christiaan@piggy.nl
                      firstname: Piggy
                      lastname: Loyalty
                  - id: 2218
                    name: loyalty_associated_shops
                    label: Associated shops
                    type: multi_select
                    group_name: null
                    group:
                      id: 140
                      name: profile
                      position: 1
                    is_piggy_defined: true
                    is_soft_read_only: true
                    is_hard_read_only: false
                    field_type: default
                    has_unique_value: false
                    description: All of the shops where this contact has had loyalty transactions
                    options:
                      - value: "123123"
                        label: Visjes
                        description: null
                        media:
                          type: image
                          value: https://static.piggy.nl/business/profile_types/on_site.svg
                      - value: "12312312312312"
                        label: 'Webshop ("not physical") ID: 161'
                        description: null
                        media:
                          type: image
                          value: https://static.piggy.nl/business/profile_types/webshop.svg
                      - value: 2222e1242t3324535
                        label: 30MLfd
                        description: null
                        media:
                          type: image
                          value: https://static.piggy.nl/business/profile_types/on_site.svg
                      - value: ergw34t32tw4t234
                        label: De Viswinkelll
                        description: null
                        media:
                          type: image
                          value: https://static.piggy.nl/business/profile_types/on_site.svg
                      - value: "28394893257892"
                        label: The Bakery
                        description: null
                        media:
                          type: image
                          value: https://static.piggy.nl/business/profile_types/on_site.svg
                      - value: "37485734857385"
                        label: De Groentewinkel
                        description: null
                        media:
                          type: image
                          value: https://static.piggy.nl/business/profile_types/on_site.svg
                      - value: "5839875893794579348"
                        label: De Chocolade Winkel
                        description: null
                        media:
                          type: image
                          value: https://static.piggy.nl/business/profile_types/on_site.svg
                      - value: "83405983409583490583"
                        label: Bakkersvak 2017
                        description: null
                        media:
                          type: image
                          value: https://static.piggy.nl/business/profile_types/on_site.svg
                      - value: "324235252352342342"
                        label: Bakkersvak 2017
                        description: null
                        media:
                          type: image
                          value: https://static.piggy.nl/business/profile_types/on_site.svg
[...]
